# ignore ez python scripts
ez-mandana.py
ez.py

# ignore directory
/data
/images
/docs

#ignore R files
*.R
*.Rmd
*.Rhistory

# ignore pdf files
*.pdf

# ignore large data files
/env/data/wrfout_d03_*
/env/data/harvey_wrf_all_data_with_cells.csv